In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd 
import selenium
from selenium.webdriver.common.by import By  
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
import re
from selenium.common.exceptions import NoSuchElementException

In [4]:
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [12]:
name=[]
rank=[]
artist=[]
upload_data=[]
views=[]
try:
    a = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for i in a[0:30]:
        name.append(i.text)
except NoSuchElementException:
    name.append("-")
try:
    a = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in a[0:30]:
        artist.append(i.text)
except NoSuchElementException:
    artist.append("-")
try:
    a = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in a[0:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append("-")
try:
    a = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in a[0:30]:
        upload_data.append(i.text)
except NoSuchElementException:
    upload_data.append("-")

In [19]:
youtube=pd.DataFrame({"Name":name,"Artist":artist,"Views":views,"Upload_data":upload_data})

In [14]:
youtube

,Name,Artist,Views,Upload_data
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.29,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.25,"January 12, 2017"
2,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.78,"October 8, 2016"
3,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,6.38,"May 2, 2018"
4,"""Shape of You""[18]",Ed Sheeran,6.07,"January 30, 2017"
5,"""See You Again""[21]",Wiz Khalifa,6.01,"April 6, 2015"
6,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,5.53,"May 24, 2018"
7,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,5.47,"March 6, 2014"
8,"""Uptown Funk""[28]",Mark Ronson,5.02,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,4.96,"February 27, 2018"
10,"""Gangnam Style""[30]",officialpsy,4.88,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,4.56,"January 31, 2012"
12,"""Dame Tu Cosita""[36]",Ultra Records,4.43,"April 5, 2018"
13,"""Axel F""[37]",Crazy Frog,4.04,"June 16, 2009"
14,"""Sugar""[38]",Maroon 5,3.93,"January 14, 2015"
15,"""Counting Stars""[39]",OneRepublic,3.86,"May 31, 2013"
16,"""Roar""[40]",Katy Perry,3.86,"September 5, 2013"
17,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.76,"June 25, 2018"
18,"""Waka Waka (This Time for Africa)""[42]",Shakira,3.71,"June 4, 2010"
19,"""Sorry""[43]",Justin Bieber,3.70,"October 22, 2015"
20,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.67,"June 14, 2018"
21,"""Thinking Out Loud""[45]",Ed Sheeran,3.65,"October 7, 2014"
22,"""Dark Horse""[46]",Katy Perry,3.58,"February 20, 2014"
23,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.54,"January 26, 2018"
24,"""Perfect""[48]",Ed Sheeran,3.53,"November 9, 2017"
25,"""Faded""[49]",Alan Walker,3.51,"December 3, 2015"
26,"""Let Her Go""[50]",Passenger,3.50,"July 25, 2012"
27,"""Girls Like You""[51]",Maroon 5,3.47,"May 31, 2018"
28,"""Lean On""[52]",Major Lazer Official,3.45,"March 22, 2015"
29,"""Bailando""[53]",Enrique Iglesias,3.45,"April 11, 2014"

In [24]:
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")
but=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
but.click()
time.sleep(5)

In [35]:
Match=[] 
Series=[]
Place=[]
Date=[]
Time =[]
try:
    a = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
    for i in a:
        Match.append(i.text)
except NoSuchElementException:
    Match.append("-")
try:
    a = driver.find_elements(By.XPATH, '//div[@class="match-card-middle d-flex"]')
    for i in a:
        Series.append(i.text)
except NoSuchElementException:
    Series.append("-")
try:
    a = driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
    for i in a:
        Place.append(i.text)
except NoSuchElementException:
    Place.append("-")
try:
    a = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
    for i in a:
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
try:
    a = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
    for i in a:
        Time.append(i.text)
except NoSuchElementException:
    Time.append("-")

In [39]:
se=[]
for i in Series:
    s=i.replace('\n','')
    se.append(s)
fix=pd.DataFrame({"MatchTitle":se,"Series":Match,"Place":Place,"Date":Date,"Time":Time})  
fix

,MatchTitle,Series,Place,Date,Time
0,IndiavsBangladesh,ASIA CUP 2023,"R Premadasa International Stadium,",15 SEP 2023,3:00 PM IST
1,IndiavsTBD,ASIA CUP 2023,"R Premadasa International Stadium,",17 SEP 2023,3:00 PM IST
2,India WomenvsTBD,19TH ASIAN GAMES 2023,"Pingfeng Cricket Field,",21 SEP 2023,6:30 AM IST
3,IndiavsAustralia,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
4,IndiavsAustralia,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST
5,IndiavsAustralia,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,",27 SEP 2023,1:30 PM IST
6,IndiavsEngland,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,"Barsapara Cricket Stadium,",30 SEP 2023,2:00 PM IST
7,IndiavsTBD,19TH ASIAN GAMES 2023,"Pingfeng Cricket Field,",3 OCT 2023,6:30 AM IST

In [53]:
driver=webdriver.Chrome()
driver.get('https://statisticstimes.com/')
but=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
but.click()
buti=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
buti.click()
time.sleep(5)
buta=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
buta.click()

In [54]:
Rank=[]
State=[]
GSDP=[]
GSDP1=[]
Share=[]
GDP =[]
try:
    a = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[1]')
    for i in a:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
try:
    a = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[2]')
    for i in a:
        State.append(i.text)
except NoSuchElementException:
    State.append("-")
try:
    a = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[4]')
    for i in a:
        GSDP.append(i.text)
except NoSuchElementException:
    GSDP.append("-")
try:
    a = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[3]')
    for i in a:
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("-")    
try:
    a = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[5]')
    for i in a:
        Share.append(i.text)
except NoSuchElementException:
    Share.append("-")    
try:
    a = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[6]')
    for i in a:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append("-")

In [61]:
gdp=pd.DataFrame({"Rank":Rank[0:34],"State":State[0:34],"GSDP(18-19)-at current prices":GSDP[0:34],"GSDP(19-20)- at current prices":GSDP1[0:34],
"Share(18-19)":Share[0:34],"GDP($ billion)":GDP[0:34]})
gdp

,Rank,State,GSDP(18-19)-at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-
33,1,Maharashtra,"2,332,992",-,13.97%,-

In [17]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/charts/hot-100/')

In [50]:
Song=[] 
Artist=[]
Lastweek=[]  
Peak =[]
Weeks=[] 
try:
    a=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
    for i in a[0:100]:
        Song.append(i.text)
except NoSuchElementException:
    Song.append("-")
try:
    a=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
    for i in a[0:100]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
    
try:
    a=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]/span')
    for i in a[0:100]:
        Lastweek.append(i.text)
except NoSuchElementException:
    Lastweek.append("-")
try:
    a=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]/span')
    for i in a[0:100]:
        Peak.append(i.text)
except NoSuchElementException:
    Artist.append("-")
try:
    a=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]/span')
    for i in a[0:100]:
        Weeks.append(i.text)
except NoSuchElementException:
    Weeks.append("-")

In [55]:
songs=pd.DataFrame({"SongName":Song,"Artist":Artist,"Lastweekrank":Lastweek,"Peak rank":Peak,"Week on board":Weeks})

In [56]:
songs

,SongName,Artist,Lastweekrank,Peak rank,Week on board
0,Paint The Town Red,Doja Cat,3,1,5
1,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,1,1,2
2,Fast Car,Luke Combs,2,2,24
3,Cruel Summer,Taylor Swift,5,3,18
4,Last Night,Morgan Wallen,4,1,32
...,...,...,...,...,...
95,Stand By Me,Lil Durk Featuring Morgan Wallen,93,22,15
96,Call Your Friends,Rod Wave,85,26,3
97,Your Heart Or Mine,Jon Pardi,72,47,17
98,Primera Cita,Carin Leon,97,97,2
99,S91,Karol G,86,45,6

In [62]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [63]:
Book=[] 
Author=[] 
Volumes=[]  
Publisher=[] 
Genre =[]
try:
    a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in a:
        Book.append(i.text)
except NoSuchElementException:
    Book.append(i.text)
try:
    a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in a:
        Author.append(i.text)
except NoSuchElementException:
    Author.append(i.text)
try:
    a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in a:
        Volumes.append(i.text)
except NoSuchElementException:
    Volumes.append(i.text)
try:
    a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in a:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append(i.text)
try:
    a=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in a:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append(i.text)

In [67]:
Booklist=pd.DataFrame({"Book Name":Book,"Author Name":Author,"Volumes Sold":Volumes,"Publisher":Publisher,"Genre":Genre})

In [68]:
Booklist

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [2]:
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls095964455/")

In [9]:
Name=[] 
Year=[]
Genre =[]
Run=[] 
Ratings =[]
Votes =[]

a=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in a:
    Name.append(i.text)
    
a=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in a:
    Year.append(i.text)

a=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
for i in a:
    Genre.append(i.text)

a=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
for i in a:
    Run.append(i.text)

a=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
for i in a:
    Ratings.append(i.text)

a=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in a:
    Votes.append(i.text)

In [10]:
list=pd.DataFrame({"Name": Name,"Year":Year,"Genre":Genre,"Rating":Ratings,"Votes":Votes})

In [11]:
list

,Name,Year,Genre,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"2,203,560"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",8.7,"1,275,240"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.1,"1,045,592"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"307,299"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"266,391"
...,...,...,...,...,...
95,Reign,(2013–2017),Drama,7.5,"52,717"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"64,765"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",8.1,"210,992"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7,"43,890"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"265,843"

In [41]:
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")
but=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
but.click()
but2=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
time.sleep(2)
but2.click()

In [48]:
Dataset=[] 
Data=[] 
Task=[] 
Attribute=[] 
Noi=[] 
Noa=[] 
Year=[] 
try:
    a=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in a:
        Dataset.append(i.text)
except NoSuchElementException:
    Dataset.append(i.text)

try:
    a=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]/span')
    for i in a:
        Data.append(i.text)
except NoSuchElementException:
    Data.append(i.text)
try:
    a=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]/span')
    for i in a:
        Task.append(i.text)
except NoSuchElementException:
    Task.append(i.text)
    
try:
    a=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
    for i in a:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append(i.text)
try:
    a=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]/span')
    for i in a:
        Noi.append(i.text)
except NoSuchElementException:
    Noi.append(i.text)
try:
    a=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]/span')
    for i in a:
        Noa.append(i.text)
except NoSuchElementException:
    Noa.append(i.text)
try:
    a=driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
    for i in a:
        Year.append(i.text)
except NoSuchElementException:
    Year.append(i.text)

In [49]:
ml=pd.DataFrame({ "Dataset name":Dataset,
"Data type":Data, 
"Task":Task, 
"Attribute type":Attribute, 
"No of instances":Noi, 
"No of attribute":Noa,
"Year":Year })

In [50]:
ml

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4.18K Instances,8 Features,12/1/1995
1,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
2,Breast Cancer,Multivariate,Classification,Categorical,286 Instances,9 Features,7/11/1988
3,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,2/14/2012
4,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1K Instances,20 Features,11/17/1994
5,Census Income,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
6,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205 Instances,25 Features,5/19/1987
7,Glass Identification,Multivariate,Classification,Real,214 Instances,9 Features,9/1/1987
8,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699 Instances,9 Features,7/15/1992
9,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398 Instances,7 Features,7/7/1993

In [52]:
driver=webdriver.Chrome()
driver.get("https://github.com/")
but=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
but.click()
but2=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
time.sleep(2)
but2.click()

In [82]:
Repository=[]
Repositoryd=[] 
Language=[]
b=[]
a=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in a:
    Repository.append(i.text)
b=[item.rstrip(' /') for item in Repository ]
a=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in a:
    Repositoryd.append(i.text)

a=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in a:
    Language.append(i.text)

In [84]:
github=pd.DataFrame({"Repository":b,
"Repository Discriptions":Repositoryd,
"Language":Language})

In [85]:
github

,Repository,Repository Discriptions,Language
0,coqui-ai,🐸💬 - a deep learning toolkit for Text-to-Speec...,Python
1,aiwaves-cn,An Open-source Framework for Autonomous Langua...,Python
2,isocpp,The C++ Core Guidelines are a set of tried-and...,Python
3,godotengine,Godot Engine – Multi-platform 2D and 3D game e...,C++
4,godotengine,Godot Engine official documentation,reStructuredText
5,FlaxEngine,Flax Engine – multi-platform 3D game engine,C++
6,yoheinakajima,Converts text input or URL into knowledge grap...,Python
7,stride3d,Stride Game Engine (formerly Xenko),C#
8,nuejs,Build user interfaces with 10x less code. Alte...,JavaScript
9,raysan5,A simple and easy-to-use library to enjoy vide...,C
10,godotengine,C++ bindings for the Godot script API,C++
11,sxyazi,⚡️ Blazing fast terminal file manager written ...,Rust
12,lodash,A modern JavaScript utility library delivering...,JavaScript
13,TheCherno,Hazel Engine,C++
14,kholia,Run macOS on QEMU/KVM. With OpenCore + Big Sur...,Python
15,tldraw,a very good whiteboard,TypeScript
16,bevyengine,A refreshingly simple data-driven game engine ...,Rust
17,DroidKaigi,The Official Conference App for DroidKaigi 2023,Kotlin
18,godotengine,Demonstration and Template Projects,GDScript
19,MarlinFirmware,Marlin is an optimized firmware for RepRap 3D ...,C++
20,ethereum-lists,provides metadata for chains,Kotlin
21,commaai,openpilot is an open source driver assistance ...,Python
22,public-apis,A collective list of free APIs,Python
23,Kr328,A rule-based tunnel for Android.,Kotlin
24,JetBrains,"Compose Multiplatform, a modern UI framework f...",Kotlin